# Stellar Network: testnet | mainnet
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Supabase (client & SSR)
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Trustless Work API (Server-side only)
TW_API_KEY=your_trustless_work_api_key
